/*CSS for Math Site*/
body
{
    font: Arial, Helvetica, sans-serif;
}
#container
{
    width: 1000px;
    /* border: 1px solid grey; */
    /* height: 100px; */
    margin: 0 auto;
}



/*Headers of the webpage*/
h1 a
{
    font-size: 50px;
    font-weight: 100;
    color: #861BBF;
    text-decoration: none;
    
}
#math-header
{
    height: 100px;
    padding: 10px 0;
}

#math_brand
{
    float: left;
}




/*Search*/
#search-box
{
    float: right;
    background: linear-gradient(#E4F2B9, #87E953);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0 20px;
    margin-top: 20px;
}



/*Inputs*/
.search_text
{
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: #E36A0C;

    /*Google Material*/
    background: white url(Images/outline_search_black_12dp.png) right center no-repeat;
    border: 1px solid #C8D03E;
}
.math-submit
{
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: #A751D6;
    font-size: 15px;
    border: 1px solid #DCD5E1;
}




.clear
{
    clear: both;
}







/*List below the header and search box*/
#menu
{
    height: 70px;
    background: linear-gradient(#F8F594, #D5D533);
    
    /*Padding for the whole menu list*/
    padding: 7px 0; /*(Top, Bottom) & (Left, Right) respectively*/
}
ul
{
    /*Takes effect on other lists as well*/
    list-style: none;
}

#menu ul li
{
    float: left;
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid #5D12E7;    /*Lines for the menu*/
    line-height: 30px;
}


/*Last Border Line on the menu*/
#menu ul li:last-child
{
    border-right: none;
}
#menu ul li a
{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #5D12E7;
    line-height: 30px;

    /*When the transition is linear, the duration is the same from beginning to end*/
    /*When the transition is ease, the speed starts off slow, then fast, and then slow again*/
    transition: font-size 0.3s ease;    
    
    /* -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease; */
}
#menu ul li a:hover, #menu ul li a.active
{
    font-size: 20px;
    font-weight: bold;
    color: #8314DB;
}





/*Website Body (Header and paragraph)*/
#Intro
{
    background: linear-gradient(#E5F2BB, #B7E952);
    padding: 30px;
    margin: 16px 0; /*First value is margins Top and Bottom*/
}
#Intro h3
{
    font-size: 45px;
    color: #316901;
    font-weight: normal;
}
#Intro p
{
    font-size: 20px;
    color: #628F19;

    /*justify means your text has a completely even, straight 
    edge at the left margin, and a ragged right edge due to word wrap*/
    text-align: justify; 
}








/*Sidebars*/
.sidebar
{
    height: 500px;
    width: 425px;
    border: 1px solid #BAF46F;
    border-radius: 20px;
    padding: 10px 30px;
}
.sidebar h3
{
    color: #B314DB;
    font-size: 30px;
}

/*'.sidebar ul li a ' or '.sidebar a' are both valid syntaxes*/
.sidebar ul li a 
{
    text-decoration: none;
    font-size: 20px;
    color: #5D12E7;
    
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease; 
}
.sidebar ul li a:hover, .sidebar ul li a.active
{
    text-decoration: none;
    color: #8314DB;
    font-size: 23px;
    font-weight: bold;   
}


#left-sidebar
{
    float: left;
}
#left-sidebar ul
{
    padding-top: 10px;
}
#left-sidebar ul li
{
    padding: 4px 20px 20px 0;
    padding-bottom: 6px;
    padding-left: 10px;
    list-style-image: url(/Images/outline_arrow_circle_right_black_24dp.png); 
}


#right-sidebar
{
    float: right;
}

#right-sidebar ul li
{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 60px;
    padding: 5px 0 20px 70px;
    background: url(/Images/outline_done_all_black_24dp.png) no-repeat;
}